USE [EmployeeManagementProjectc#]
GO
/****** Object:  Table [dbo].[EmployeeData]    Script Date: 12/20/2023 3:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeData](
	[Emp. ID] [nvarchar](10) NOT NULL,
	[Emp. Name] [nvarchar](70) NOT NULL,
	[Designation] [nvarchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
	[DOB] [date] NOT NULL,
	[Contact Number] [nvarchar](11) NULL,
	[Joining Date] [date] NOT NULL,
	[Total Leave Count] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 12/20/2023 3:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [nvarchar](10) NOT NULL,
	[UserName] [nvarchar](80) NOT NULL,
	[Password] [nvarchar](80) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
